/* Font */
@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");


#matrix-container {
    width: 100%;
    height: 400px; /* ou la taille que tu veux dans la section */
    position: relative;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
} */
/* #monitor {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
 #monitor {
    width: 65%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px; /* pour garder la structure sans bloquer le scroll */
    margin: 0 auto;
}

#bezel {
    display: block;
    border-radius: 20px;
    border: 20px solid #333;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

/* CRT Screen */
#crt {
    position: relative;
    background-color: #000;
    height: auto;
    overflow: hidden;
    color: #00ff66;
    font-family: "VT323", monospace;
    text-transform: uppercase;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

/* Scanline overlay */
#crt:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 8px;
    z-index: 2;
    pointer-events: none;
}

.scanline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.1) 10%,
        rgba(0, 0, 0, 0.05) 100%
    );
    opacity: 0.1;
    animation: scanline 10s linear infinite;
    pointer-events: none;
}

@keyframes scanline {
    0% { bottom: 100%; }
    80% { bottom: 100%; }
    100% { bottom: 0%; }
}

/* Terminal */
.terminal {
    position: relative;
    z-index: 10;
    white-space: pre-wrap;
}

/* Input */
#input {
    position: relative;
    caret-color: transparent;
}
#input[contenteditable="true"]:after {
    content: "■";
    animation: cursor 1s infinite;
    animation-timing-function: step-end;
    margin-left: 1px;
}
#input:before {
    content: ">";
    position: absolute;
    padding-left: 1.5rem;
    left: 0;
}

@keyframes cursor {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

#matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1; /* derrière ton texte typewriter si besoin */
}
